@font-face {
  font-family: "iconfont"; /* Project id 4237919 */
  src: url('iconfont.woff2') format('woff2'),
       url('iconfont.woff') format('woff'),
       url('iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-webchanpinziliaowenjianfenxiangicon01:before {
  content: "\e64c";
}

.icon-document:before {
  content: "\e6f3";
}

.icon-search:before {
  content: "\e621";
}

.icon-download:before {
  content: "\e614";
}

.icon-folder:before {
  content: "\e61f";
}

.icon-password:before {
  content: "\e90c";
}

.icon-fenxiang:before {
  content: "\e601";
}

.icon-start:before {
  content: "\ea40";
}

.icon-upload:before {
  content: "\e75d";
}

.icon-right:before {
  content: "\e665";
}

.icon-refresh:before {
  content: "\e66a";
}

.icon-more:before {
  content: "\e6ad";
}

.icon-link:before {
  content: "\e771";
}

.icon-custom-ok:before {
  content: "\e631";
}

.icon-image:before {
  content: "\e6cc";
}

.icon-del:before {
  content: "\e6ac";
}

.icon-close2:before {
  content: "\e6dd";
}

.icon-video:before {
  content: "\e7c8";
}

.icon-cancel:before {
  content: "\e603";
}

.icon-all:before {
  content: "\e68d";
}

.icon-arrowright:before {
  content: "\e694";
}

.icon-revert:before {
  content: "\e67a";
}

.icon-close:before {
  content: "\e65f";
}

.icon-folder-add:before {
  content: "\e7d1";
}

.icon-transfer:before {
  content: "\e627";
}

.icon-account:before {
  content: "\e817";
}

.icon-clock:before {
  content: "\e819";
}

.icon-settings:before {
  content: "\e699";
}

.icon-import:before {
  content: "\e643";
}

.icon-close-:before {
  content: "\e835";
}

.icon-error:before {
  content: "\e66f";
}

.icon-move:before {
  content: "\e67b";
}

.icon-checkcode:before {
  content: "\e6a4";
}

.icon-pause:before {
  content: "\e634";
}

.icon-edit:before {
  content: "\e9da";
}

.icon-music:before {
  content: "\ea2b";
}

.icon-yunpan1:before {
  content: "\e604";
}

.icon-wenjianjia:before {
  content: "\e600";
}

.icon-ppt:before {
  content: "\e6c3";
}

.icon-yunpanlogo--:before {
  content: "\e616";
}

.icon-yunpan:before {
  content: "\e602";
}

.icon-yunshangchuan:before {
  content: "\eb2c";
}

